<%- include('../partials/header.ejs') %>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        width: 100%;
        height: 100%;
    }
    .selected{
        color: red;
    }
</style>
<div>Hotel Name = <%=hotel.name%></div>
<div>Hotel Address  = <%=hotel.address%></div>
<div>Hotel Price  = <%=hotel.price%></div> 
<div>Is Room Available = <%=hotel.isRoomAvailable%></div>
<div>Created At = <%=hotel.createdAt.toDateString() %></div>
<div>Created By = <a href="/users/<%= hotel.author._id %>"><%= hotel.author.username %></a></div>
<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col object-fit-cover border rounded">
        <div class="col object-fit-cover border rounded"><img src="<%=hotel.image%>"></div>
      </div>
      <div class="col">
        <div id="map"></div>
      </div>
    </div>
  </div>


<% if (currentUser && hotel.author._id.equals(currentUser._id)) { %>
    <div><a class="btn btn-info" href="/hotels/<%= hotel._id %>/edit">Edit</a></div>
    <form action="/hotels/<%= hotel._id %>?_method=DELETE" method="post">
        <input class="btn btn-danger" type="submit" value="delete">
    </form>
<% } %>

    <div class="row">
        <div class="col-3">
            <form class="mt-5 needs-validation" action="/hotels/<%=hotel._id%>/reviews" method="post" novalidate>
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="form-floating mb-3">
                    <input name="review[body]" type="text" class="form-control" id="review" placeholder="review body"
                        required>
                    <label for="review">Hotel Review Body</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter some text.
                    </div>
                </div>
                <input class=" mt-2 btn btn-primary" type="submit" value="add review">
            </form>
            <h1>All Reviews</h1>
        <% for(let review of hotel.reviews) { %>
        <div><%= review.body %> </div>
        <p class="starability-result" data-rating="<%= review.rating %>"></p>
        <div><%= review.author.name %></div>
        <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
        <form action="/hotels/<%= hotel._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
            <input type="submit" class="btn btn-sm btn-danger" value="delete">
        </form>
        <% } %>
        <% } %>
           </div>
    </div>
    <hr>
    <script>
        let arr = []; 
        arr.push( <%-coordinates[0] %> );
        arr.push( <%-coordinates[1] %> );
        mapboxgl.accessToken =
            'pk.eyJ1Ijoia2hhcm9sYTEiLCJhIjoiY2xoOGdlOXBzMDhkdjNrbG8xMmpjb3E0YSJ9.qm5SbjQrdfE0KR3HgYbv8Q';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/outdoors-v12', // style URL
            center: arr, // starting position [lng, lat]
            zoom: 14 // starting zoom
        });
        const marker1 = new mapboxgl.Marker()
            .setLngLat(arr)
            .setPopup(new mapboxgl.Popup()
                .setHTML('<h4><%=hotel.name%></h4><p><%=hotel.address%></p>'))
            .addTo(map);
        map.addControl(new mapboxgl.NavigationControl());
    </script>
<script src="/public/scripts/form-validation.js"></script>
<%- include('../partials/footer.ejs') %>